.box-rounded-soft {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.box-rounded-soft-top {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

.box-rounded-soft-bottom {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.box-rounded-soft-left {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.box-rounded-soft-right {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.box-rounded-hard {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.box-rounded-hard-top {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }

.box-rounded-hard-bottom {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.box-rounded-hard-left {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.box-rounded-hard-right {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }
