<div class="container-colored-primary-title">
  <h2><%= title -%></h2>
  <% if defined? rightlink %>
    <p class="righttext">
      <a href="<%= rightlink[:href] -%>"><%= rightlink[:label] -%></a>
    </p>
  <% end %>
</div>
<div class="container-colored-primary-bottom">
  <%= yield %>
</div>
