  <div class="container-search-results">
    <div class="title">
      <span class="matches"><%= title -%></span>
      <span class="sort-by">Sort By <select><option>Popularity</option></select></span>
      <span class="pagination">
        <span>1</span>
        <a href=""><span>2</span></a>
        ...
        <a href=""><span>11</span></a>
        <a href=""><span>&gt;</span></a>
      </span>
    </div>
    <div class="main-bg">
      <div class="table-header">Title</div>
      <div class="table-result">Public Tree</div>
      <div class="table-result">1799 Muster Roll</div>
      <div class="table-result">1835 Tax List</div>
      <div class="table-result">1870 Census</div>
      <div class="table-result">1880 Census</div>
      <div class="table-result">1900 Census</div>
      <div class="table-result">1910 Census</div>
      <div class="table-result">1920 Census</div>
      <div class="table-result">1799 Muster Roll</div>
      <div class="table-result">1835 Tax List</div>
      <div class="table-result">1870 Census</div>
      <div class="table-result">1880 Census</div>
      <div class="table-result">1900 Census</div>
      <div class="table-result">1910 Census</div>
      <div class="table-result">1920 Census</div>
    </div>
    <div class="summary">1-25 of <b>30,176</b></div>
  </div>
