%p.font-small
  = link_to 'Style Guide'
  >> Colors
%h1.font-xbig Style Guide: Colors

%div.swatches
  %div.bg-color-green00
    %p.label Name: Green00
    %p.hex #d8e091
    %p.usage ??
  %div.bg-color-green0
    %p.label Name: Green0
    %p.hex #cbd486
    %p.usage ??
  %div.bg-color-green1
    %p.label Name: Green1
    %p.hex #96A336
    %p.usage ??
  %div.bg-color-green2
    %p.label.color-beige00 Name: Green2
    %p.hex.color-beige00 #566C11
    %p.usage.color-beige00  Right Arrow Button
  %div.bg-color-green3
    %p.label.color-beige00 Name: Green3
    %p.hex.color-beige00 #445708
    %p.usage.color-beige00 Links
  %br


  %div.bg-color-orange1
    %p.label Name: Orange1
    %p.hex #f88017
    %p.usage ?
  %div.bg-color-orange2   
    %p.label Name: Orange2
    %p.hex #c87024
    %p.usage ?
  %div.bg-color-orange3
    %p.label Name: Orange3
    %p.hex #b35010
    %p.usage ?
  %br

  %div.bg-color-beige000
    %p.label Name: Beige000
    %p.hex #f8f3e7
    %p.usage ?
  %div.bg-color-beige00
    %p.label Name: Beige00
    %p.hex #f5efdd
    %p.usage 
  %div.bg-color-beige0     
    %p.label Name: Beige0
    %p.hex #cdc7be
    %p.usage 
  %div.bg-color-beige1     
    %p.label Name: Beige1
    %p.hex #BBB0A3
    %p.usage Dotted HRs
  %div.bg-color-beige2     
    %p.label.color-beige00 Name: Beige2
    %p.hex.color-beige00 #695E49
    %p.usage.color-beige00 Container Subheading (alt)
  %br

  %div.bg-color-offwhite1   
    %p.label Name: Offwhite1
    %p.hex #FBF9FA
    %p.usage Container Outer BG
  %div.bg-color-offwhite2   
    %p.label Name: Offwhite2
    %p.hex #d6d1d5
    %p.usage ?
  %br

  %div.bg-color-white1
    %p.label Name: White1
    %p.hex #FFFFFF
    %p.usage Page BG, Container inner bg
  %div.bg-color-gray1
    %p.label Name: Gray1
    %p.hex #E0E0E0
    %p.usage Second color in BG gradients
  %div.bg-color-gray2 
    %p.label Name: Gray2
    %p.hex #D9D9D9
    %p.usage Container Content-Area Border
  %div.bg-color-gray3
    %p.label Name: Gray3
    %p.hex #ddd
    %p.usage ?
  %div.bg-color-gray4 
    %p.label.color-orange3 Name: Gray4
    %p.hex.color-orange3 #CBCBCB
    %p.usage.color-orange3 Container Outer Border
  %br

  %div.bg-color-gray5
    %p.label Name: Gray5
    %p.hex #666666
    %p.usage ??
  %div.bg-color-gray6 
    %p.label Name: Gray6
    %p.hex #424242
    %p.usage Container Title
  %div.bg-color-gray7
    %p.label.color-beige00 Name: Gray7
    %p.hex.color-beige00 #333333
    %p.usage.color-beige00 Container Subheading
  %div.bg-color-black1
    %p.label.color-beige00 Name: Black
    %p.hex.color-beige00 #000000
    %p.usage.color-beige00 Normal Text
  %br

