%p.font-small
  = link_to 'Style Guide'
  >> Fonts
%h1.font-xbig  Style Guide: Fonts


%p.font-xbig Name: font-xbig
%p.font-xbig2 Name: font-xbig2
%p.font-big Name: font-big
%p.font-normal Name: font-normal
%p.font-small Name: font-small
