%p.font-small
  = link_to 'Style Guide'
  >> Links
%h1.font-xbig Style Guide: Links


%b Links on light backgrounds
%ul 
  %li= link_to "a-bg-light"

%b Links on dark backgrounds
%ul.bg-color-black1
  %li= link_to "a-bg-dark", {}, :class=>"bg-dark"

