<p class="font-small"><%= link_to 'Style Guide' %> >> Catalog Pages</p>
<h1 class="font-xbig">Style Guide: Catalog Pages</h1>

<p>
  <b>Usage:</b> Showing a set of results for a given search<br />
  <b>Example:</b> <a href="http://search.ancestry.com/cgi-bin/sse.dll?gl=BMD_MARRIAGE&rank=1&new=1&so=3&MSAV=0&msT=1&gss=ms_f-124&gsfn=jim&gsln=linn&uidh=uv6">Link</a>
</p>

<div class="search2col-main">
  <div class="matches">
  
    <% render :layout=>'container-search-results', :locals=>{:title=>'Matches 1-25 of 30,176'} do %>
    <% end %>
  
  </div>
  <div class="params">
  
    <% render :layout=>'container-search-params', 
              :locals=>{ :title => 'Searching for...',
                         :params => [ { :key => 'Name',     :value => 'Jim Lindstrom' },
                                      { :key => 'Location', :value => 'New York, NY' },
                                      { :key => 'Gender',   :value => 'Male' } ] } do %>
    <% end %>
  
    <% render :layout=>'container-search-facets', 
              :locals=>{ :title=>'Narrow by Category',
                         :categories=> ['All Categories','Military'],
                         :sub_categories=> [{:name=>'Draft Cards', :count=>'3,291' },
                                            {:name=>'WWI Rolls',   :count=>  '931' },
                                            {:name=>'WWII Rolls',  :count=>   '12' } ] } do %>
    <% end %>
  
  </div>

</div>
